{% extends 'glideEz/layout.html' %} {% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.typekit.net/cav5lva.css" />

<link rel="icon" type="image/ico" href="/static/img/favicon.ico" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<link rel="stylesheet" href="../../static/glideEz/css/bookings_style.css" />
<link rel="stylesheet" href="../../static/glideEz/css/layout_style.css" />
<title>Bookings</title>

{% endblock %}

{% block header %} <div class="gtco-loader"></div> {% endblock %}

{% block content %}
<!-- <div style="height: 100%; width: 100%; padding: 10%">
    <div style="text-align: center; margin: auto">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
        </svg>
        <br /><br />
        <h3>Oops! Looks empty</h3>
        <p>Looks like You don't have any bookings yet.</p>
    </div>
</div> -->
<section class="section section1">
    <div class="container"
        style="margin-top: 5% ;align-content: center;display: flex; flex-direction: column; min-height: fit-content">
        {% if booking_details %}
        <h5>Ticket Details</h5>
        {% for booking in booking_details %}

        <div class="row each-booking-div" id="{{booking.0}}" style="flex: 100%;width: 100%;">

            <details>
                <summary>
                    <h1>{{booking_details}}</h1>
                    <hr>
                    <h2>{{ticket}}</h2>
                    <div class="col-2" style="display: flex;">
                        <div style="display: flex; color: #666666; margin-top: auto;">
                            <div>
                                <span style="font-size: 2.1em;">{{ticket.flight_ddate | date:"d"}}</span>
                            </div>
                            <div
                                style="font-size: smaller; display: flex; margin: auto 0; padding-left: 5px; line-height: 1em;">
                                <div style="margin: auto;">
                                    <div style="margin-bottom: 1px;">{{ticket.flight_ddate | date:"D"}}</div>
                                    <div style="margin-top: 1px;">{{ticket.flight_ddate | date:"M'y"}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 middle-div">
                        <div style="width:100%">
                            <div class="row places-div" style=" display: flex;">
                                <div style="max-width: 45%;">{{ticket.flight.origin.city}}</div>
                                <div>&nbsp;-&nbsp;</div>
                                <div style="max-width: 45%;">{{ticket.flight.destination.city}}</div>
                            </div>
                            <div class="row places-div" style="font-size: .8em; color: #999999; ">
                                <div style="max-width: 100%;">{{ticket.flight.airline}} &middot; {{ticket.flight.plane}}
                                    &middot; {{ticket.passengers.count}} Passengers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 middle-div">
                        <div style="font-size: 1.2em; color: #945937;">{{ticket.ref_no}}</div>
                    </div>
                    <div class="col-2 middle-div">
                        <div>
                            <div class="row status-div">
                                {% if ticket.status == 'CONFIRMED' %}
                                <div class="green">{{ticket.status}}</div>
                                {% endif %}
                                {% if ticket.status == 'PENDING' %}
                                <div class="orange">{{ticket.status}}</div>
                                {% endif %}
                                {% if ticket.status == 'CANCELLED' %}
                                <div class="red">{{ticket.status}}</div>
                                {% endif %}
                            </div>
                            <div class="row booking-date-div" style="font-size: .7em; color: #666;">
                                {% if ticket.status == 'CONFIRMED' %}
                                Booked on: {{ticket.booking_date | date:"D, M d Y"}}
                                {% endif %}
                                {% if ticket.status == 'PENDING' %}
                                Reviewed on: {{ticket.booking_date | date:"D, M d Y"}}
                                {% endif %}
                                {% if ticket.status == 'CANCELLED' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-2 last-div">
                        <div>
                            <div class="ticket-action-div">
                                {% if ticket.status == 'CONFIRMED' %}
                                <!--<button class="btn btn-outline-primary btnp">Print Ticket</button>-->
                                <form action="{% url 'getticket' %}" method="get" target="_blank">
                                    <input type="hidden" name="ref" value="{{ticket.ref_no}}">
                                    <button type="submit" class="btn btn-outline-info btnp pbtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                                            <path
                                                d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
                                        </svg>
                                    </button>
                                </form>
                                <button class="btn btn-outline-danger btnp cbtn" data-ref="{{ticket.ref_no}}"
                                    onclick="popup(this)">Cancel</button>
                                {% endif %}
                                {% if ticket.status == 'PENDING' %}
                                <form action="{% url 'resumebooking' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="ref" value="{{ticket.ref_no}}">
                                    <button type="submit" class="btn btn-outline-primary btnp rbtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                        </svg>
                                    </button>
                                </form>

                                <button type="button" class="btn btn-outline-danger btnp cbtn"
                                    data-ref="{{ticket.ref_no}}" onclick="popup(this)">Cancel</button>
                                {% endif %}
                                {% if ticket.status == 'CANCELLED' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </summary>
                <p>
                    <div class="media-airline">
                        <div>
                            <div class="brand">{{flight1.airline}}</div>
                            <div>&nbsp;&middot;&nbsp;</div>
                            <div class="plane-name">{{flight1.plane}}</div>
                            <div>&nbsp;&middot;&nbsp;</div>
                            <div class="plane-name">{{seat}}</div>
                        </div>
                    </div>
                    <div class="row ticket-details-div">
                        <div class="col-3 airline-name">
                            <div class="brand">{{flight1.airline}}</div>
                            <div class="plane-name">{{flight1.plane}}</div>
                        </div>
                        <div class="col-3 depart-time">
                            <div class="time">{{flight1.depart_time | time:'H:i'}}</div>
                            <div class="date ddate" data-value='{{flight1ddate | date:"d-m-Y"}}'>{{flight1ddate |
                            date:"D, d
                            M y"}}</div>
                            <div class="place">{{flight1.origin.city}}</div>
                            <div class="airport">{{flight1.origin.airport}}</div>
                        </div>
                        <div class="col-3 time-details">
                            <div class="duration" data-value="{{flight1.duration}}"></div>
                        </div>
                        <div class="col-3 arrival-time">
                            <div class="time">{{flight1.arrival_time | time:'H:i'}}</div>
                            <div class="date adate" data-value='{{flight1adate | date:"d-m-Y"}}'>{{flight1adate |
                            date:"D, d
                            M y"}}</div>
                            <div class="place">{{flight1.destination.city}}</div>
                            <div class="airport">{{flight1.destination.airport}}</div>
                        </div>
                    </div>
                </p>
            </details>

        </div>

        {% endfor %}
        {% else %}
        <div style="height: 100%; width:100%; padding: 10%;">
            <div style="text-align: center; margin: auto;">
                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                </svg>
                <br><br>
                <h3>Oops! Looks empty</h3>
                <p>
                    Looks like You don't have any bookings yet.
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block footer %}
<!-- jQuery -->
<!-- <script src="js/jquery.min.js"></script> -->
<script src="../../static/glideEz/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<!-- <script src="js/jquery.easing.1.3.js"></script> -->
<script src="../../static/glideEz/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<script src="../../static/glideEz/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<!-- <script src="js/jquery.waypoints.min.js"></script> -->
<script src="../../static/glideEz/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<!-- <script src="js/owl.carousel.min.js"></script> -->
<script src="../../static/glideEz/js/owl.carousel.min.js"></script>
<!-- countTo -->
<!-- <script src="js/jquery.countTo.js"></script> -->
<script src="../../static/glideEz/js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<!-- <script src="js/jquery.stellar.min.js"></script> -->
<script src="../../static/glideEz/js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<!-- <script src="js/jquery.magnific-popup.min.js"></script> -->
<script src="../../static/glideEz/js/jquery.magnific-popup.min.js"></script>
<!-- <script src="js/magnific-popup-options.js"></script> -->
<script src="../../static/glideEz/js/magnific-popup-options.js"></script>

<!-- Datepicker -->
<!-- <script src="js/bootstrap-datepicker.min.js"></script> -->
<script src="../../static/glideEz/js/bootstrap-datepicker.min.js"></script>


<!-- Main -->
<!-- <script src="js/main.js"></script> -->
<script src="../../static/glideEz/js/main.js"></script>

<script src="../../static/glideEz/js/all_validate.js"></script>

{% endblock %}